<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
    <title th:text="'Wow Items - Add Item'"/>
</head>
<body>
<div class="container">
    <table class="table" th:align="center">
        <tr>
            <td th:align="center"><h1 th:text="'Add Item'"/></td>
        </tr>
        <tr>
            <td th:align="center"><a th:href="@{/items/list}" class="btn btn-primary">Back
                to Items list</a></td>
        </tr>
        <tr>
            <form action="#" th:action="@{/items/save}" th:object="${item}" method="post" th:align="center">
                <input type="hidden" th:field="*{id}"/>
                <table th:border="solid" id="formTable" th:align="center">
                    <tr>
                        <td>Name of the Item:</td>
                        <td><input type="text" th:field="*{name}" placeholder="Super Rod of Destruction" autocomplete="off"/></td>
                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                    </tr>
                    <tr>
                        <td th:colspan="3" th:align="center"><input type="submit" value="Submit" class="btn btn-info"/>
                        </td>
                    </tr>
                </table>
            </form>
        </tr>
    </table>
</div>
</body>
</html>