<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
    <title th:text="'Wow Items - Add Entry'"/>
</head>
<body>
<h3 th:text="'Add Entry'"/>
<form action="#" th:action="@{/prices/save(itemId=${item.id})}" th:object="${price}" method="post">
    <input type="hidden" th:field="*{id}" class="form-control mb-4 col-4"/>
    <table>
        <tr>
            <td>Quantity:</td>
            <td><input type="number" th:field="*{quantity}" placeholder="5" class="form-control mb-4 col-4"/></td>
            <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="number" th:field="*{amount}" placeholder="1.25" step="any"
                       class="form-control mb-4 col-4"></td>
            <td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="date" th:field="*{date}" class="form-control mb-4 col-4"/></td>
            <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" class="btn btn-info col-2"/></td>
        </tr>
    </table>
</form>
<a th:href="@{/items/item(itemId=${item.id})}" th:text="'Back to ' + ${item.name}"/>
</body>
</html>