<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
    <!--<title th:text="Wow Items - Add Entry"/>-->
</head>
<body>
<form action="#" th:action="@{/prices/save}" th:object="${price}" method="post">
    <input type="hidden" th:field="*{id}" class="form-control mb-4 col-4"/>
    <p>Amount: <input type="number" step="0.01" th:field="*{amount}" placeholder="5"
                                class="form-control mb-4 col-4"/></p>
    <p>Price: <input type="text" th:field="*{price}" placeholder="1,25"
                                class="form-control mb-4 col-4"/></p>
    <p>Date: <input type="date" th:field="*{date}" placeholder="format: yyyy-MM-dd, can be empty"
                                class="form-control mb-4 col-4"/></p>
    <p><input type="submit" value="Submit" class="btn btn-info col-2"/></p>
</form>
<!--<a th:href="@{/items/item(itemId=${item.id})}" th:text="'Back to ' + ${item.name}"/>-->
</body>
</html>